<div class="col-md-4 mx-auto">
    <div class="card card-body">
    <form action="/users/add" method="POST">
        <div class="div-formgroup">
            <input type="text" name="name" class="form-control" placeholder="First Name" autofocus required>
        </div>
        <div class="div-formgroup">
            <input type="text" name="lastname" class="form-control" placeholder="Last Name" requiered>
        </div>
        <div class="div-formgroup">
            <input type="email" name="email" class="form-control" placeholder="E-mail" required>
        </div>
         <div class="div-formgroup">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>
         <div class="div-formgroup">
            <input type="text" email="adress" class="form-control" placeholder="Short Adress">
        </div>
         <div class="div-formgroup">
            <input type="text" name="typeUser" class="form-control" placeholder="User/Freelancer" required>
        </div>
        <button class="btn btn-primary btn-block">
            SAVE
        </button>
    </form>
</div>

</div>